@charset "utf-8";

#plugbot-gui {
	width: 494px;
	height: 72px;
	background-color: #0A0A0A;
	opacity: 0.9100000262260437;
	border-top: 1px dotted #292929;
	margin: 0 auto;
	z-index: 50;
	text-align: center
}

#plugbot-gui span {
	font-size: 12px;
	font-weight: bold;
	font-family: 'arial', helvetica, sans-serif;
	text-align: center;
	margin-left: 32px;
	cursor: pointer
}

#autowoot-btn, #autoqueue-btn, #sidebar-btn {
	color: #3FFF00
}

#plugbot-woots-count, #plugbot-mehs-count {
	font-size: 21px;
}

#plugbot-learnmore {
	color: #3FFF00;
	font-size: 14px;
	font-variant: small-caps
}

#plugbot-sidebar {
	width: 360px;
	height: 768px;
	position: absolute;
	background: transparent;
	padding-left: 8px
}

#plugbot-woots, #plugbot-mehs {
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: left
}

#plugbot-woots {
	padding-top: 16px;
	height: 70%;
	color: #3FFF00
}

#plugbot-mehs {
	color: #ED1C24;
	height: 30%
}
